.audio {

margin-right: 10px;
padding: 9px 8px;
padding-right: 4px;
border-radius: 50%;
border: 1px solid;
text-decoration: none;
border-color: #a18167;
background-color: #a18167;


}

.audio:hover {

    margin: 0px;
    padding: 9px 8px;
    padding-right: 4px;
    border-radius: 50%;
    border: 1px solid;
    text-decoration: none;
    border-color: #d1b7a1;
    background-color: #d1b7a1;
    color: #a18167;

}

.phonetics {

    margin-top: 20px;
    margin-right: 0px;

}